/*
PROJECT MY TIMES
*/
body {
  max-width: 1300px;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: thin solid black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  padding: 0 10px 0 0;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  display: inline-flex;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}

main {
  display: flex;
  justify-content: space-around;
}

div {
  /* border: thin solid black; */
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.content-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story-main {
  background: url('../img/img-story-main.png') top center no-repeat;
  background-size: cover;
  text-align: left;
}

.story-flex {
  display: flex;
  justify-content: space-between;
}

.story-wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.story-wrap h2 {
  min-height: 100px;
}

.story-wrap p {
  min-height: 150px;
}

.story-main span {
  font-size: 40px;
}

.earth {
  background: url('../img/img-story-2.png') top left repeat;
}

.memory {
  background: url('../img/img-story-3.png') top left repeat;
}

.cats {
  background: url('../img/img-story-1.png') top left no-repeat;
}

.column.small h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.column.small ul {
  padding: 0;
}
.column.small li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
  padding: 10px 20px;
  border-bottom: thin solid black;
}
